/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
  #D4DB53
#2C3535 
 */

body {
  background: 
    linear-gradient(rgb(247, 255, 90), #2C3535 )

}
h1 {
  font-size: xx-large;
  color: #474650;
  font-weight: 400;
}
nav {
  line-height: 95px;
  background-color: #e8ef43 ;
}
.desk-tabs {
  height: 100%;
}
.desk-tabs li {
  height: 100%;
}
.desk-tabs__a {
  height: 100%;
  font-size: large;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 630px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}


@media only screen and (min-width: 960px) {
 .flow-text {
    font-size: 1.5rem;
} 
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  height: 65vh;
  padding: 1px 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background-color: #2C3535;
}

.logo {
  /* width: 6em; */
  width: 6.8em;
  margin-right: 2em;
}
nav {
  height: 94px;
  line-height: 86px;
}
.card-panel {
  background-color: #e08539e3;
}